@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #20423e;
  color: #fff;
  line-height: 1.6;
}

ul {
  list-style: none;
}

.container {
  max-width: 768px;
  margin: auto;
  padding: 0 20px;
}

header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
  font-size: 30px
}

footer{
  text-align: center;
  margin-top: 30px;
}

header a{
  text-decoration: none;
  color: #ff6a95;
}

.card h2 {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 15px;
  padding: 40px 50px;
  margin: 10px auto;
  position: relative;
  width: 80%;
}

.small-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn {
  color: #fff;
  border: 0;
  border-radius: 8px;
  color: #fff;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

.btn-primary {
  background-color: #20423e;
}
.btn-edit {
  background-color: #245b1c;
}

.btn-secondary {
  background: #6a74ff;
}

.btn:hover {
  transform: scale(0.98);
  opacity: 0.9;
}

.btn:disabled {
  background-color: #cccccc;
  color: #333;
  cursor: auto;
}

.input-group {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  padding: 8px 10px;
  border-radius: 8px;
}

input {
  flex-grow: 2;
  border: none;
  font-size: 16px;
}

input:focus {
  outline: none;
}

@media (max-width: 600px) {

  .input-group input {
    width: 80%;
  }
}

.strike-through{
  text-decoration: line-through;
}